# PYTHON TUTORIAL

FIRST PROGRAM

In [1]:
print("hellow world")

hellow world

# VARIABLES

In [3]:
x=3

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [5]:
print(type(x))

<class 'int'>

In [6]:
x=5.7

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [8]:
print(type(x))

<class 'float'>

In [9]:
abcd=12.63

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    12.63
x          float    5.7

In [13]:
a,b,c,d=5,4.0,3,2

In [14]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
abcd       float    12.63
b          float    4.0
c          int      3
d          int      2
x          float    5.7

In [15]:
del abcd

In [16]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          float    4.0
c          int      3
d          int      2
x          float    5.7

In [17]:
print(abcd)

NameError: name 'abcd' is not defined

# %whos - to check memory
# del - to delete variable
# print(type()) - to get type of the variable

In [18]:
c=c+4j

In [19]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      4.0
c          complex    (3+4j)
d          int        2
x          float      5.7

In [20]:
print(type(c))

<class 'complex'>

# Operators

In [21]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      4.0
c          complex    (3+4j)
d          int        2
x          float      5.7

In [22]:
SumOfaAndb = a+b

In [23]:
print(SumOfaAndb)

9.0

In [24]:
type(SumOfaAndb)

float

In [25]:
type(a+d)

int

In [27]:
type(a+b) #int + flot will be floating point number coz float always have upperhand in datatypes

float

In [28]:
v=((a+d)**3)/4

In [29]:
print(v)

85.75

In [30]:
s1="hellow"
s2="world"
s=s1+s2
print(s)

hellowworld

In [31]:
10//3

3

In [32]:
10/3 # if we dont store result in a variable then the value is stored in "_" but stored only the last value

3.3333333333333335

In [33]:
_

3.3333333333333335

variable cannot start with digit and other special characters exept "_"

In [34]:
3x=5

SyntaxError: invalid syntax (2695640289.py, line 1)

In [35]:
@y=4

SyntaxError: invalid syntax (943345821.py, line 1)

In [36]:
*t=1

SyntaxError: starred assignment target must be in a list or tuple (3049411657.py, line 1)

In [40]:
_e=6   # _ is allowed to start with to assign as a variable

In [38]:
print(_e)

6

camel notation is starting wordd with capital example : HiHelloNamasthe

In [41]:
HiJupyter = 2.0

In [42]:
%whos

Variable     Type       Data/Info
---------------------------------
HiJupyter    float      2.0
SumOfaAndb   float      9.0
a            int        5
b            float      4.0
c            complex    (3+4j)
d            int        2
s            str        hellowworld
s1           str        hellow
s2           str        world
v            float      85.75
x            float      5.7

# Bool

In [43]:
a=True
b=True
c=False

In [44]:
%whos

Variable     Type     Data/Info
-------------------------------
HiJupyter    float    2.0
SumOfaAndb   float    9.0
a            bool     True
b            bool     True
c            bool     False
d            int      2
s            str      hellowworld
s1           str      hellow
s2           str      world
v            float    85.75
x            float    5.7

In [45]:
print(a and B)

NameError: name 'B' is not defined

In [46]:
print(a and c)
print(a and b)
print(c and a)

False
True
False

In [47]:
d= a or c
print(d)

True

In [48]:
not(a)

False

In [49]:
not(b)

False

In [50]:
not(c)

True

In [51]:
not(d)

False

In [52]:
e=not((a and b) or (c and d))

In [53]:
print(e)

False

# Comparisons

In [54]:
print(2<3)

True

In [55]:
c=2<3

In [56]:
type(c)

bool

In [57]:
print(c)

True

In [59]:
d=3==4

In [60]:
print(type(d))
print(d)

<class 'bool'>
False

In [61]:
3==3.0 # comparison takes place discarding the decimal position

True

In [62]:
3<3.2

True

In [63]:
x=4
y=9
z=8.3
r=-3

In [64]:
z=(x<y) and (z<y) or (r==x)

In [65]:
print(z)
print(type(z))

True
<class 'bool'>

# AND is precedence over OR i.e always and will be executed first

In [1]:
print((not(2!=3) and True) or (False and True))

False

# Round

In [2]:
print(round(4.556))

5

In [3]:
print(round(4.5))

4

In [8]:
print(round(4.55673,3)) # here the rounding is based on the next digit after 5 i.e the next digit is bigger than the present digit

4.557

# divmod

In [9]:
divmod(22,10)

(2, 2)

In [10]:
g= divmod(34,9)

In [11]:
print(g)

(3, 7)

In [12]:
type(g)

tuple

In [15]:
g[0] # index of data

3

In [16]:
g[1] #index

7

In [17]:
e=34//9
y=34%9
print(e,y)

3 7

# isinstance()

checks whether given number is an particular type or not

In [18]:
isinstance(3.4,int)

False

In [19]:
isinstance(3,int)

True

In [21]:
isinstance(3.4,(int,float))

True

In [23]:
isinstance(3+2j,(int,float,str,complex))

True

# power

In [24]:
pow(2,3)

8

In [25]:
2**3

8

In [26]:
pow(2,4,7)

2

In [30]:
x = input("enter a number :")

enter a number :34

In [38]:
type(x) # by default input variable is taken as a string

int

In [33]:
x=int(x) # converts to integer

In [34]:
type(x)

int

In [35]:
print(x-12)

22

In [36]:
a= float(input("enter a real number : "))

enter a real number : 2.3

In [37]:
type(a)

float

# Control Flow

In [3]:
a=int(input("enter the a value : "))
b=int(input("Enter the b value : "))
if a>b:
    print(a)
else:
    print(b)

enter the a value : 23
Enter the b value : 34
34

In [7]:
a = int(input("enter a value : "))
b = int(input("enter b value : "))
if a>b:
    print(a)
    print("a is bigger")
elif a==b:
    print("both are equal")
else:
    print(b)
    print("b is bigger")

enter a value : 45
enter b value : 34
45
a is bigger

In [8]:
a = int(input("enter marks : "))
if a >= 85:
    print("A Grade")
elif (a >= 80) and (a < 85):
    print("A- Grade")
elif (a < 80) and (a >= 75):
    print("B Grade")
elif (a < 75) and (a >= 70):
    print("B- Grade")
else:
    print("Below Average")

enter marks : 65
Below Average

In [9]:
a = 3
if a>10:
    print(">10")
elif not (a>10):
    print("else part")

else part

# Nested If

In [15]:
x = int(input("enter a number : "))
if x>10:
    print("number is > 10")
    if x > 20:
        print("number is > 20")
        if a>30:
            print(">30")
        else:
            print("<=30")
    else:
        print("smaller or equal to 20")
print("outside all ifs")

enter a number : 30
number is > 10
number is > 20
<=30
outside all ifs

In [27]:
"""user enter a floating point number .your task is to find out the integer portion before the point and 
then check if that integer portion is an even number or not"""


a = float(input("enter a number : "))
b= round(a) # remove the decimal point
if a>0:
    if b>a:
        IntPortion = b-1
    else:
        IntPortion = b
else:
    if b<a:
        IntPortion = b+1
    else:
        IntPortion = b
print(IntPortion)
    
if IntPortion%2 == 0 :
    print("Even")
else:
    print("Odd")

enter a number : 4.3
4
Even

# loops

In [2]:
n= int(input())
i=1
while (i<n):
    print(i**2)
    print("this is iteration number : ", i)
    i+=1 # i=i+1
print("out of loop")

5
1
this is iteration number :  1
4
this is iteration number :  2
9
this is iteration number :  3
16
this is iteration number :  4
out of loop

IF INSIDE WHILE LOOP

In [4]:
n=int(input())
i=10
while (i<n):
    if i%2 == 0:
        print(i)
    else:
        pass
    i += 1
print("out of the loop")

20
10
12
14
16
18
out of the loop

# Break , Continue

In [6]:
n=10
i=1
while True:
    if i%9 == 0:
        print("inside if")
        break
    else:
        print("inside else")
        i = i+1 # i+=1
print("loop done")

inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside if
loop done

In [7]:
n=10
i=1
while True:
    if i%9 != 0:
        print("inside if")
        i+=1
        continue
    print("something")
    break
print("loop done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
something
loop done

# for loop

In [8]:
L = []
for i in range(10): #"in " is a keyword and range is a function
    print(i+1)  # initiall\y "i" will be 0
    L.append(i**2)
print(L)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
L = []
for i in range(0,10,2):  # 0 is start location end is 10 and 2 is where i takes jump of 2
    print(i)  # initiall\y "i" will be 0
    L.append(i**2)
print(L)

0
2
4
6
8
[0, 4, 16, 36, 64]

else with for loop

In [11]:
s = {"apple" , 3.4 ,"cheery" }
for x in s:
    print(x)
else:
    print("all the iterations are complete and we are outside the loop")

apple
3.4
cheery
all the iterations are complete and we are outside the loop

In [14]:
s = {"apple" , 3.4 ,"cheery" }
i=1
for x in s:
    print(x)
    i+=1
    if i == 3:
        break
    else:
        pass
else:
    print("all the iterations are complete and we are outside the loop")
print("outside the loop")

apple
3.4
outside the loop

In [15]:
d= {"apple":44, "cherry":"game"} # here apple is a key
for x in d:
    print(x,d[x])

apple 44
cherry game

In [17]:
d={"A":10,"B":-9,"C":79}
for i in d:
    print(i,d[i])

A 10
B -9
C 79

In [1]:
"""given a list where we need to make another listr whihc we need to arrange items in sorted order."""

L = [1, 2, 3, -5, 7, 9, 3, 2]

n = len(L)
for i in range(n):
    for j in range(0, n - i - 1):
        if L[j] > L[j + 1]:
            # Swap the elements
            temp = L[j]
            L[j] = L[j + 1]
            L[j + 1] = temp

print(L)

[-5, 1, 2, 2, 3, 3, 7, 9]

In [5]:
numbers = [4, 2, 9, 1, 5]

# Sort the list in ascending order
sorted_numbers = sorted(numbers)

print(sorted_numbers)

[1, 2, 4, 5, 9]

# Functions

In [2]:
def printSuccess():
    print("I am done")
    print("send me another task") # reported into symbol table or simply it is saved

In [4]:
printSuccess()

I am done
send me another task

In [6]:
def printSuccess2():
    """This function is doing nothing except printing a message.
    that message is "hellow"
    """
    print("hellow")

In [7]:
printSuccess2?

In [8]:
len?

In [9]:
printSuccess2()

hellow

# input Arguments

In [15]:
def printMsg(msg):
    """the function prints the msg supplied by the user or prints that msg is not in the form of string"""
    if isinstance(msg,str):
        print(msg)
    else:
        print("input argument is not a string")
        print("here is the type what you have supplied : ",type(msg))

In [16]:
printMsg(23)

input argument is not a string
here is the type what you have supplied :  <class 'int'>

In [18]:
printMsg("hellow")

hellow

In [19]:
def mypow(a,b):
    """this function computes power just like built in pow function"""
    c = a**b
    print(c)

In [21]:
mypow(3,4)

81

In [22]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else:
        print("ERROR : input arguments are not of the expected types")

In [23]:
checkArgs(23,3,45)

5041

In [24]:
checkArgs(2,3,"gud")

ERROR : input arguments are not of the expected types

In [25]:
checkArgs(1,2) # we need to specify all the arguments

TypeError: checkArgs() missing 1 required positional argument: 'c'

In [26]:
checkArgs(3,4,5,6,8) # accepts only 3 arguments i.e we need to supply only sufficient arguments

TypeError: checkArgs() takes 3 positional arguments but 5 were given

# order of arguments

In [27]:
def f(a,b,c):
    print("A is : ",a)
    print("B is : ",b)
    print("c is : ",c)

In [28]:
f(2,3,"fun")

A is :  2
B is :  3
c is :  fun

In [29]:
f(2,"fun",3)

A is :  2
B is :  fun
c is :  3

In [31]:
f(c="game", a=2,b=4) # we can change while call time by assigning values to arguments

A is :  2
B is :  4
c is :  game

In [2]:
def myadd(a,b):
    sumValue = a+b 
    return sumValue

In [3]:
d=myadd(2,3)
print(d)

5

In [4]:
variableOutsideTheFunction = 3

In [5]:
def g():
    print(variableOutsideTheFunction)

In [6]:
g()

3

In [12]:
def h():
    print("A")
    a = 3
    b = 5
    c = a+b
    print("contains addition operation")
    return c
    print("nothing")

In [8]:
h()

A
contains addition operation

In [13]:
h()

A
contains addition operation

8

In [14]:
def r():
    a=5
    b=7
    d="hi"
    return a,b,d

In [15]:
x,y,z = r()
print(x,y,z)

5 7 hi

 # handling Multiple arguments

variable no of arguments

In [16]:
def myaddUniversal(*args):
    s = 0
    for i in range (len(args)):
        s+=args[i]
    return s

In [18]:
myaddUniversal(2,4,5,78,43,56)

188

In [19]:
def printAllVariablesNamesAndValues(**args):
    for x in args:
        print("variable name is : ",x,"And value is : ",args[x])

In [21]:
printAllVariablesNamesAndValues(a=3,b=4,c="hi",d=4.7)

variable name is :  a And value is :  3
variable name is :  b And value is :  4
variable name is :  c And value is :  hi
variable name is :  d And value is :  4.7

In [22]:
def gg(s=4):
    print(s)

In [23]:
gg()

4

In [24]:
gg(5)

5

In [25]:
L =[1,3,4]
L2 = L
L2[0] = -9
print(L) # here L value also changes but default values never change

[-9, 3, 4]

In [26]:
def ff(L = [1,2]):
    for i in L:
        print(i)

In [27]:
L2= [23,34,45]
ff(L2)

23
34
45

# modules usage from another python file

In [28]:
import sys
sys.path.append('D:/myfuncs/')

In [29]:
import My_Universal_Functions as ufs

In [31]:
ufs.addAllNumerics??

In [32]:
ufs.addAllNumerics(3,4,5,6,7)

25

for importing only 1 function from a module

In [33]:
from My_Universal_Functions import addAllNumerics

In [35]:
addAllNumerics(3,4,5,6,7)

25

In [36]:
ufs.myName

'Python course'

# sorting list using functions

In [38]:
"""given a list where we need to make another list
which we need to arrange items in sorted order.
"""

'given a list where we need to make another list\nwhich we need to arrange items in sorted order.\n'

In [57]:
def findMin(L,startIndex):
    m = L[startIndex]
    idx = startIndex
    for i in range(startIndex,len(L)):
        x = L[i]
        if x<m:
            m = x
            idx = i
        else:
            pass
        i+=1
    return m,idx

In [42]:
a,b = findMin([2,3,4,0,9])

In [43]:
print(a,b)

0 3

In [47]:
def swapValues(L,idx1,idx2):
    temp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = temp
    return L

In [48]:
L = [2,3,6,7]
L2 = swapValues(L,1,3)
print(L2)

[2, 7, 6, 3]

In [55]:
def checkIfNotNumeric2(L):
    for x in L:
        if not(isinstance (x,(int,float))):
            return False
    return True

In [59]:
def sortList(L):
    if not(checkIfNotNumeric2(L)):
        print("error : List does not contain numeric values")
        return
    else:
        c=0
        for x in L:
            m,idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c+=1
    return L

In [60]:
L2 = sortList([1,3,2,0,-3,34])
print(L2)

[-3, 0, 1, 2, 3, 34]

# strings

In [1]:
s = "python is a good langguage"
t = 'its good for data science'

In [2]:
type(s)

str

In [3]:
print(s+t)

python is a good langguageits good for data science

In [7]:
v = s+" , "+ t
print(v)

python is a good langguage , its good for data science

In [8]:
price = 12
s = "the price of this book "
v = s + "is : " + str(price) # here 12 will become the string of characters as we cannot concatinate int with str directly
print(v)

the price of this book is : 12

In [1]:
a = """this is line 1
this is line 2
this is last line"""

In [2]:
print(a)

this is line 1
this is line 2
this is last line

In [3]:
s = "how are you and who are you?"
print(s[5])

r

In [5]:
type(s[5])

str

In [6]:
s[3:8]

' are '

In [7]:
s[-1]

'?'

In [10]:
s[0:12:2] # s[start:end:step]

'hwaeyu'

In [11]:
s[::-1] # gives reverse string

'?uoy era ohw dna uoy era woh'

 # strip()

In [12]:
a = "    abc  def        jdhad"
b = a.strip()
print(b)

abc  def        jdhad

# upper n lower

In [13]:
a = "ABCD nvkfhyf"
b = a.lower()
print(b)

abcd nvkfhyf

In [14]:
a = "ABCD nvkfhyf"
b = a.upper()
print(b)

ABCD NVKFHYF

# replace() and split()

In [15]:
d = a.replace("ABCD","abcd")
print(d)

abcd nvkfhyf

In [18]:
a = "abc;def;ghke123"
L = a.split(";")
print(L)

['abc', 'def', 'ghke123']

In [20]:
"abc" in "kdsabcjefhsyTAatabfjkdsijfd"

True

In [21]:
"abc" == "abc" # can compare

True

In [22]:
"abcdef" < "def" # comparison is based on alphabetical order

True

In [23]:
print("we are learning \"string\" here") # this is used when we want to use "" inside a string

we are learning "string" here

In [24]:
print('we are learning "string" here') # this is used when we want to use "" inside a string

we are learning "string" here

In [25]:
print("c:\name\drive") #\n treated as next line

c:
ame\drive

In [27]:
print(r"c:\name\drive") # r is used to print raw string

c:\name\drive